/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
    display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
    display: none;
}

.bg-stat-image {
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
        url("../images/blank-charts-computer-669619.jpg");
    background-size: cover;
}

.ios .little-size {
    font-size: 20px;
}

.middle {
    height: 55%;
    margin: auto;
    position: absolute;
    left: 0; bottom: 0; right: 0;
}

.centered-input {
    height: 44px;
    display: flex;
}

.centered-input2 {
    min-height: 44px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding:2px 4px;
        font-size:80%;
        line-height: 1;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding:4px 9px;
        font-size:90%;
        line-height: 1.2;
    }
}

.alignres {
    margin: auto;
    width: 50%;
    padding: 3%;
    text-align: center;
}

.bg-color-aquamarine{
    background-color:#61c4b6!important
}

.text-color-aquamarine{
    color:#61c4b6!important
}

.btn-circle{
    border: none;
    cursor: pointer;
    background: #4cd964;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    border-radius: 25px;
}

.btn-circle-small{
    border: none;
    cursor: pointer;
    background: #61c4b6;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    border-radius: 25px;
}

.btn-link{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:inherit;
    padding:0;
    font-family:inherit;
    font-size:inherit;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0,0,0,0.1);
    content: '';
    z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
    display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0,0,0,0.1);
    content: '';
    z-index: 6000;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #4cd964;
    border-radius: 1.3px;
    margin-top: -10px;
}
/*input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}*/
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
/*input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #faffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}*/
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #faffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #faffff;
    cursor: pointer;
    height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}